<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.f_sep">
    <!-- Internet permission for AWS S3 communication -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Requesting storage permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AuthApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuthApp">
        <activity
            android:name=".forecast_report_3_weeks"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- Main launcher activity with explicit android:exported="true" -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Required for Android 12+ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sign In Activity -->
        <activity
            android:name=".SignInActivity"
            android:exported="false" /> <!-- Sign Up Activity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".CompaniesActivity"
            android:exported="true" />
        <activity
            android:name=".StockPerformanceActivity"
            android:exported="true" />
    </application>

</manifest>